[user]
	name = Matt Cordial
	email = Matt.Cordial@experian.com
[color]
	ui = true
[push]
	default = simple
[core]
	excludesfile = /Users/c64332a/.gitignore_global
	editor = nvim
[pull]
	rebase = false
[alias]
	recent = branch --all --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
